# ============================================================
# Python
# ============================================================

__pycache__/
*.py[cod]
*.pyo

.venv/
venv/
env/

# ============================================================
# dbt
# ============================================================

dbt_packages/
logs/
target/

**/dbt/logs/
**/dbt/target/

# ============================================================
# Secrets
# ============================================================

.env
.env.*
*.pem
*.key
*.pfx
*.secret

# ============================================================
# IDE
# ============================================================

.vscode/
.idea/

# ============================================================
# OS
# ============================================================

.DS_Store
Thumbs.db